{% extends 'base.html' %}

{% block header %}
<h1>{{ currentDate }}</h1>
{% endblock %}

{% block content %}
    <div id="header">
        <p id="name">Prince(🤴🏾) Darlington Ekemini </p>
        <a href="mailto:ekeminyd@gmail.com" target="_blank">
            <p id="email">ekeminyd@gmail.com</p>
        </a>
        <p id="contact">+2348141261989</p>
    </div>
    <div class="left">
    </div>
    <div class="right">
        <b style="color:red">Note: This CV was crafted using Python(Flask), hosted on Heroku. source code is available on Github</b>
        <h3>About</h3>
            <p>
               I was born in Akwa-Ibom state, Nigeria, brought up in Lagos( a very busy city in Nigeria), I had my tertiary education in Delta state(The oil city of Nigeria). I'm a born passionate problem solver, with adept knowledge in Agile(Crum) software development, testing and automation, stock trading and stock algorithmic robot programming.
               With over 7 years experience in developing mobile and web friendly applications, proficient in various platforms, languages, and embedded systems. Experienced with the latest cutting edge development
            tools and procedures, and also able to effectively self-manage during independent projects and  as well as collaborate as part of a
            productive team.
            </p>
            <p> With a degree in Mathematics and Computer Science, I've been involved in many challenging projects such as network intrusion detection using artificial neural network, email and sms spam detection system, time table scheduling
            system using artificial neural network, base state placement system using artificial intelligent.
                    </p>

            <hr>
        <h3>CV Highlights</h3>
        <p>
        <ul>
            <li>Write tests for features I code and fix bugs.</li>
            <li>I have very Good technical understanding of Ethereum blockchain, interacting with it, querying it and knowing technical details
            of how it operates.</li>
            <li>I  have verse experience with Celery,Flower,Rabbitmq, AWS, NLP, Data model performance tuning, content extraction,
            application performance tuning</li>
            <li>Ability to work in a fast-paced development environment with testing, continuous integration and multiple daily deploys</li>
            <li>Have a logical approach to problem solving that combines analytical thinking and intuition</li>
            <li>Good understanding of docker and generally infrastructure related tech pertaining to web servers.</li>
            <li>Good Communication Skills, presentation skills, attitude towards leadership, authorisation and delegation,
                conflict resolution and negotiation and a very good team worker.</li>
                <li>Solid experience with Flask,Django, Python,PHP, Nodejs, MySQL (or Postgres) and other software in our tech stack, and a willingness to
                learn in areas where you have less experience</li>
                <li>Verse understanding of  modern frontend frameworks (like Vue or React) and development patterns</li>
                <li>I implement best practices in software development ( review, testing, prototyping).</li>
        </ul>
        </p>
        <h3>Professional Experience</h3>
        <br/>
        <h4 id="company-name">Yokesolutions Limited(Nigeria)</h4>
        <p id="job-title"><strong>Fullstack Developer</strong></p>
        <p id="job-responsibilities">Job Responsbilities</p>
        <p>
        <ul>
            <li>Work and improve the existing code base</li>
            <li>Interact with our engineering team to get software issues and bugs resolved</li>
            <li>Contribute ideas to the team on how customers can be delighted</li>
        </ul>
        </p>

        <h4 id="company-name">Latcoms(Germany)</h4>
        <p id="job-title"><strong>CTO</strong></p>
        <p id="job-responsibilities">Job Responsbilities</p>
        <p>
        <ul>
            <li>Create new project work flow</li>
            <li>Performed automated testing tasks and developed complex features routinely.</li>
            <li>Implement design pattern on new and exisiting projects</li>
            <li>Work on Apis, Secure and Test them before deployment</li>
        </ul>
        </p>
        <h4 id="company-name">AbitNetowork(Rwanda)</h4>
        <p id="job-title"><strong>Fullstack Developer</strong></p>
        <p id="job-responsibilities">Job Responsbilities</p>
        <p>
        <ul>
            <li>Work and improve the existing code base</li>
            <li>Interact with our engineering team to get software issues and bugs resolved</li>
            <li>Work on a new tasks to(specifically the referral system)</li>
        </ul>
        </p>
        
        <h3>Educational Qualifications</h3>
        <table>
            <tr id="heading">
                <td>Qualification</td>
                <td>Board</td>
                <td>Percentage / Grades</td>
                <td>Year</td>
            </tr>

            <tr>
                <td>B.Sc. (Hons) - Maths & Computer Science</td>
                <td>Federal University of Petroleum Resources</td>
                <td>2:2 – Second Class Lower</td>
                <td>2019</td>
            </tr>
            <tr>
                <td>Certificate of Forex Trading</td>
                <td>Montreal Trading Group</td>
                <td>Passed</td>
                <td>2019</td>
            </tr>
        </table>
       
        <h3>Technical Skills</h3>
        <p>
        <ul>
            <li>
                <span id="course-name">Python: Flask, Django</span>
            </li>
            <li>
                <span id="course-name">C, c++ and Java</span>
            </li>
                <li>
                    <span id="course-name">Celery, RabbitMq, AWS, GCP,ETL</span>
                </li>
                    <li>
                        <span id="course-name">PHP: Laravel, Codefii</span>
                    </li>
                        <li>
                            <span id="course-name">Javascript:  Nodejs, Reactjs and Vuejs</span>
                        </li>
                        <li>
                            <span id="course-name">Mysql, Postgresql, MongoDB</span>
                        </li>
                        <li>
                            <span id="course-name">Docker</span>
                        </li>
                        <li>
                            <span id="course-name">Kotlin & Java</span>
                        </li>
            <li>
                <span id="course-name">Operating Systems:</span> Windows, Macintosh Computers (OS X), Linux (Ubuntu, Fedora)
            </li>
 
           
        </ul>
        </p>
        
        <h3>Useful Links</h3>
        <p>
        <ul>
            <li>
                <span id="course-name">Github:</span> <a href="https://github.com/iamcoderisk" target="_blank">https://github.com/iamcoderisk</a>
            </li>
            <li>
                <span id="course-name">Twitter:</span> <a href="https://twitter/iamcoderisk">https://twitter.com/iamcoderisk</a>
            </li>
            <li>
                <span id="course-name">LinkedIn:</span> <a href="https://www.linkedin.com/in/prince-darlington-ekemini-525105b6/" target="_blank">https://www.linkedin.com/in/prince-darlington-ekemini-525105b6/</a>
            </li>
        </ul>
        </p>
        <hr>
        <h3>Other Information</h3>
        <p>
        <ul>
            <li>
                <span id="course-name">Expected Salary:</span>As per company standards
            </li>
            <li>
                <span id="course-name">Area of Interest:</span>Software Development, Programming, Start-ups, Coding, App
                Development, Technical Support, Support Engineer, Customer Happiness, Client service, Investment Banking,
                Corporate Finance, Hedge Funds, Mergers & Acquisitions, Analyst, Equity Research, Business Analysis
            </li>
            <li>
                <span id="course-name">Joining Date:</span>Immediate
            </li>
        </ul>
        </p>
        <h3>Declaration</h3>
        <p>
            I hereby declare that the details furnished above are true and correct to the best of my knowledge and belief.
        </p>
    </div>
{% endblock %}
